event_detection:
  settling_time: 2.0
  variance_threshold: 0.5
  weight_change_threshold: 5.0
fusion:
  debug_frames_path: debug_frames
  inference_frames: 100
  save_annotated: true
  save_debug_frames: true
  tolerance_percent: 0.1
  use_grayscale: true
hardware:
  loadcell_addresses:
    0:
    - 1
    - 2
  loadcell_baudrate: 115200
  loadcell_port: /dev/ttyUSB0
  side_camera_id: 2
  top_camera_id: 0
kalman:
  dead_zone: 3.0
  measurement_noise: 1.0
  process_noise: 0.5
logging:
  level: INFO
  log_file: vending_machine.log
  transaction_log: transactions.log
operation:
  auto_drift_correction:
    drift_threshold: 50.0
    enabled: true
    stability_time: 600.0
    stability_variance: 5.0
  initial_mode: NORMAL
  manual_zeroing:
    enabled: true
    require_confirmation: true
products:
  0:
    is_product: false
    name: hand
    tolerance: 0.0
    weight: 0.0
  1:
    is_product: true
    name: chickenmayo
    tolerance: 5.0
    weight: 365.0
  2:
    is_product: true
    name: seaweed_soup
    tolerance: 5.0
    weight: 209.0
  3:
    is_product: true
    name: condition_stick
    tolerance: 3.0
    weight: 20.0
  4:
    is_product: true
    name: pepero_original
    tolerance: 3.0
    weight: 69.0
  5:
    is_product: true
    name: pulmuone_spring_water
    tolerance: 10.0
    weight: 520.0
  6:
    is_product: true
    name: samdasoo
    tolerance: 10.0
    weight: 520.0
  7:
    is_product: true
    name: creeat_protein_bar
    tolerance: 5.0
    weight: 57.0
  8:
    is_product: true
    name: hotbar
    tolerance: 5.0
    weight: 107.0
  9:
    is_product: true
    name: egg
    tolerance: 5.0
    weight: 93.0
  10:
    is_product: true
    name: protein_shake
    tolerance: 10.0
    weight: 85.0
  11:
    is_product: true
    name: vita500
    tolerance: 5.0
    weight: 275.0
  12:
    is_product: true
    name: pizza_combination
    tolerance: 10.0
    weight: 103.0
  13:
    is_product: true
    name: protein_hatban
    tolerance: 5.0
    weight: 269.0
vision:
  buffer_size: 100
  camera_fps: 30
  camera_height: 480
  camera_width: 480
  confidence_threshold: 0.7
  device: 0
  input_size: 480
  lookback_time: 1.0
  model_path: /home/chai/Desktop/classifier/product_classifier/src/yolo_models/1222_v8n_img480_best_aug_segment_gray.pt
zero_offset:
  last_updated: '2025-12-17T16:35:43.010290'
  value: 2486
